<!DOCTYPE html>
<html>
<head>
	<title>Vehicles Homepage</title>
</head>
<body>
	<% @vehicles.each do |v| %>
		<%= link_to v.vehicle_id, vehicle_path %>
	<% end %>
	
	<%= link_to "Add a new vehicle", new_vehicle_path %>

</body>
</html>