<h1>Vehicle <%=@vehicle.vehicle_id%></h1>
<p>I wish I were a little bit taller</p><br />
<p>I wish I were a baller</p><br />
<p>I wish I had a girl that looked good, I would call her</p>
<%= link_to "Drive this car!", drive_vehicles_url(@vehicle)%>